*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.container{
    position: relative;
}

.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #555;
    border: 2px solid #fff;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);

    /* this display flex is done to center the middle point of the clock  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
    
}

/* // it is used to make middle point of the clock  */
.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
}


.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i{
    position: absolute;
    background: var(--clr);
    width: 4px;
    height: 70px;
    border-radius: 8px;

}

#hour i{
    height: 74px;
}

#min i{
    height: 84px;
}

#sec i{
    height: 94px;
}

